spring:
  datasource:
    url: jdbc:mysql://db:3306/online_exam_db?useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=UTC
    username: root
    password: example
  jpa:
    hibernate:
      ddl-auto: none
    show-sql: true
    properties:
      hibernate:
        format_sql: true
  flyway:
    enabled: true
    locations: classpath:db/migration

server:
  port: 8080

jwt:
  secret: change_this_to_a_long_secret_key_at_least_32_chars_long_for_HS256
  expiration-ms: 3600000